<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
  <add key="biasX" value="200" />
  <add key="biasY" value="-500" />
  <add key="sizeX" value="1000" />
  <add key="sizeY" value="1000" />
  <add key="resX" value="1920" />
  <add key="resY" value="1080" />
  <add key="swXY" value="0" />
  <add key="FLX" value="0" />
  <add key="FLY" value="0" />
  <add key="baudrate" value="1000000" />
  <add key="ip1" value="192" />
  <add key="ip2" value="168" />
  <add key="ip3" value="11" />
  <add key="ip4" value="2" />
  <add key="port" value="20108" />
  <add key="protocol" value="0" />
  <add key="connectivative" value="0" />
  <add key="scanmod" value="5" />
  <add key="defaultscan" value="0" />
  <add key="maprange" value="2393" />
  <add key="maprot" value="180" />
  <add key="mtmerge" value="0" />
  <add key="mttuio" value="0" />
  <add key="mtslope" value="100" />
  <add key="tuioPortCFG" value="3333" />
  <add key="cursorHPCFG" value="3" />
  <add key="cursorSpeedCFG" value="1000" />
  <add key="mergeGapCFG" value="80.0" />
  <add key="motorSpeedCFG" value="1200" />
  <add key="kalmanqCFG" value="15" />
  <add key="kalmanrCFG" value="15" />
  <add key="kalmanEnCFG" value="1" />
 </appSettings>
</configuration>